{% extends "courses/courses_base.html" %}
{% load static %}

{% block css %}{{ STATIC_URL }}courses_item.css{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'courses_list' %}">Все курсы<span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'courses_new' %}">Создать курс</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><b>Текущий:</b></li>
            <li><a href="{% url 'courses_edit' course.id %}">Редактирвоать</a></li>
            <li><a href="{% url 'courses_delete' course.id %}">Удалить</a></li>
            <li><a href="{% url 'group_new' %}">Создать группу</a></li>
          </ul>
          <ul class='nav nav-sidebar'>
            <li><b>Группы:</b></li>
            {% for group in course.group_set.all %}
              <li><a href="{% url 'group_edit' group.id %}">{{ group.name }}</a></li>
            {% endfor %}
          </ul>
          </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block massage %} {{ block.super }} {% endblock massage %}
          <h1 class="page-header">{{ course.name }}</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{{ STATIC_URL }}img/page_{{ course.tecnology }}.png" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Технология</h4>
              <span class="text-muted">{{ course.tecnology }}</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{{ STATIC_URL }}img/2month.png" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Обучение - два месяца!</h4>
              <span class="text-muted">Мы все проверили! Это реально. Нечего сисю мять :)</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{{ STATIC_URL }}img/master.png" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>{{ course.coach.name }}
                {{ course.coach.surname }}</h4>
              <span class="text-muted">Преподаватель</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{{ STATIC_URL }}img/assistant.png" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>{{ course.assistant.name|default:'R2D2' }}
                {{ course.assistant.surname }}</h4>
              <span class="text-muted">Ассистент</span>
            </div>
          </div>
          <div class="row placeholders">
            <h2 class="sub-header">Описание курсов:</h2>
            <p class="sub-header" id='descr'>{{ course.description }}</p>
          </div>
        {% if course.student_set.all|length >= 1 %}
          <h3 class="sub-header">Список трудящихся студентов</h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Группа</th>
                  <th>Фамилия</th>
                  <th>Имя</th>
                  <th>Пакет</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
            {% for student in course.student_set.all %}
                <tr>
                  <td>
                    {% for group in student.group.all %}
                      {% if course.name in group.name %} 
                        {{ group.name }}
                      {% endif %}
                    {% endfor %}
                  </td>
                  <td>{{ student.surname }}</td>
                  <td>{{ student.name }}</td>
                  <td>{{ student.package }}</td>
                  <td><a href="{{ student.get_absolute_url }}">просмотреть
                  </td>
                </tr>
            {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <h3 class="sub-header">На этом курсе покачто нет студентов.</h3>
        {% endif %}
        </div>
      </div>
    </div>

{% endblock content %}
{% block js %}
  <script src="../../assets/js/docs.min.js"></script>
{% endblock %}