{% extends "coaches/coaches_base.html" %}
{% load static %}

{% block css %}{{ STATIC_URL }}coaches/css/coaches_item.css{% endblock %}

{% block content %}
    <div class="container">
      <h1>Coach: {{ coach.surname }} {{ coach.name }}</h1>
      <ul class="list-group">
        <li class="list-group-item">{{ coach.status }}</li>
        <li class="list-group-item">{{ coach.email }}</li>
        <li class="list-group-item">{{ coach.phone_number }}</li>
        <li class="list-group-item">{{ coach.user }}</li>
      </ul>
	  <div class="btn-group pull-right">
	    <a  href="{% url 'coaches_edit' coach.id %}">
	      <button class="btn btn-warning  " type="button">edit</button></a>
	    <a  href="{% url 'coaches_delete' coach.id %}">
	      <button class="btn btn-danger" type="button">delete</button></a>
	    <a  href="{% url 'coaches_new' %}">
          <button class="btn btn-success" type="button">new coach</button></a>
	  </div>
    </div>
{% endblock content %}

