{% extends "address/address_base.html" %}
{% load static %}

{% block css %}{{ STATIC_URL }}address_list.css{% endblock %}

{% block content %}
    <div class="container">
        <h1>IT Bursa Adresses list</h1>
        <a  href="{% url 'address_new' %}">
          <button class="btn btn-success" type="button">add address</button></a>
        <ul class="list-group">
            {% for address in address %}
            <li class="list-group-item" style='padding: 2px 0 15px 0'>
                {{ forloop.counter }}
                <a href="{% url 'address_item' address.id %}" style="margin-left: 20px">{{ address.street }} {{ address.house }}</a>
                <div class="btn-group pull-right" >
                  <a  href="{% url 'address_edit' address.id %}">
                    <button class="btn btn-warning"  type="button">edit</button></a>
                  <a  href="{% url 'address_delete' address.id %}">
                    <button class="btn btn-danger" type="button">delete</button></a>
                </div>         
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}