{% extends "address/address_base.html" %}
{% load static %}

{% block css %}{{ STATIC_URL }}address/css/address_list.css{% endblock %}

{% block content %}
    <div class="container">
        <h1>IT Bursa Adresses list</h1>
        <ul class="list-group">
            {% for address in address %}
            <li class="list-group-item">
                <a href="{% url 'address_item' address.id %}">
                    {{ address.id }} 
                {% if address.course_venue.all %}
                {% for course in address.course_venue.all %}
                    {{ course.name }}
                {% endfor %}
                {% endif %} </a>         
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}