{% extends "address/address_base.html" %}
{% load static %}

{% block css %}{{ STATIC_URL }}address_item.css{% endblock %}

{% block content %}
    <div class="container">
      <h1>Address of {{ course }} </h1>
      <ul class="list-group">
        <li class="list-group-item">Country: {{ address.country }}</li>
        <li class="list-group-item">Index: {{ address.post_index}}</li>
        <li class="list-group-item">Region: {{ address.region }}</li>
        <li class="list-group-item">District: {{ address.district }}</li>
        <li class="list-group-item">Street: {{ address.street }}</li>
        <li class="list-group-item">House: {{ address.house }}</li>
      </ul>
    </div>
{% endblock content %}

